definitions:
  auth.ErrorResponse:
    properties:
      error:
        type: string
    type: object
  auth.LoginResponse:
    properties:
      refresh_token:
        type: string
      token:
        type: string
    type: object
  auth.LoginWithEmailRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
info:
  contact:
    name: Eventic Dev Team
    url: https://github.com/DKeshavarz/eventic
  description: A platform to hold and participate in events
  termsOfService: http://swagger.io/terms/
  title: Eventic
paths:
  /login-email:
    post:
      consumes:
      - application/json
      description: Login a user with Eamil to app and generate a hwt token and a jwt
        refresh token
      parameters:
      - description: Login info
        in: body
        name: login
        required: true
        schema:
          $ref: '#/definitions/auth.LoginWithEmailRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.LoginResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      summary: login a user with Eamil
      tags:
      - Auth
securityDefinitions:
  BearerAuth:
    description: 'Type `Bearer ` followed by your JWT token. example: "Bearer abcde12345"'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
